.tableRow:nth-child(odd) {
  background-color: rgb(253 230 138); /* amber-200 */
}

.tableRow:nth-child(even) {
  background-color: rgb(254 243 199); /* amber-100 */
}
.tableRow {
  height: 12px;
  max-height: 12px;
}

.tableRow:hover {
  background-color: rgb(252 211 77); /* amber-300 */
}
